.ow {
  background-color: white;
}

.devto-link{
  margin-left: 330px;  
  color: gray;  
}

.devto-link a{
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.devto-link a:hover{
  
  color: rgb(0, 0, 201);
  
}

.blog-text-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 60%;
  margin-left: 330px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.blog-text-section h1{
  font-weight: bold;
  font-size: 50px;
}

.blog-text-section p{
  font-size: 22px;
  line-height: 35px;
}

.blog-text-section h2{
  font-size: 35px;
}

.blog-text-section li{
  font-weight: bold;
  font-size: 25px;
  line-height: 40px;
}