:root {
  --primary-color: blue;
  --off-white: #f3f4f6;
  --dark-gray: #6b7280;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px auto;
  width: 100%;
}

hr {
  margin: 2rem 0rem;
}

/** spaces **/

.margin-md {
  margin: 2rem;
}

/** container **/
.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 900px;
  width: 100%;
  margin: auto;
}

/** links **/
.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link-primary {
  max-width: 140px;
  padding: 0.6rem 1.2rem;
  background-color: var(--primary-color);
  color: #fff;
  margin: 1rem auto;
  border-radius: 15px;
}

.link-secondary {
  max-width: 140px;
  margin: 1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 2rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/** look into BEM naming convention for CSS **/

/** lists **/

.list-non-bullet {
  list-style: none;
  padding-inline-start: 0px;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/** navigation **/

.navigation {
  background-color: var(--primary-color);
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  height: 90px;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 35px;
  margin-left: 40px;
}

.nav-brand a {
  text-decoration: none;
  color: inherit;
}

.navigation .nav-pills {
  text-align: right;
  margin: 0.6rem 1rem;
  margin-right: 40px;
}

.navigation .link {
  color: white;
}

.navigation .link-active {
  font-weight: bold;
}

/** header **/

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 100px;
  width: 80%;
  margin-left: 160px;
}

.hero-img {
  max-width: 60%;
  width: 550px;
}

.hero p {
  width: 60%;
  line-height: 30px;
  font-weight: bold;
  color: var(--dark-gray);
}

.hero-heading {
  color: var(--dark-gray);
  font-size: 20px;
  line-height: 80px;
}

.heading-inverted {
  color: var(--primary-color);
  font-size: 80px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.sub-heading {
  margin-left: 20px;
}

/** sections **/

.section {
  padding: 1.5rem;
  margin: 2rem 0;
  /* border-radius: 1rem; */
  text-align: center;
}

.section h1 {
  text-align: center;
  font-size: 40px;
}

.ow {
  background-color: var(--off-white);
}

.skill-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-images {
  width: 80px;
  margin: 30px;
}

.projects-para {
  font-weight: bold;
  font-size: 20px;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  margin: 30px;
  margin-bottom: 60px;
  /* border: 2px solid blue; */
  background-color: rgb(204, 204, 255);
}

.card-image {
  width: 300px;
  height: 160px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-heading {
  margin: 10px;
  text-align: left;
}

.card-para {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
}

.card-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
  margin: 10px;
  font-size: 22px;
}

.project-more {
  /* margin: 30px; */
}

.blog-heading {
  font-size: 30px;
  margin: 20px;
  margin-top: 30px;
}

.blog-para {
  margin: 20px;
  font-weight: bold;
  line-height: 20px;
}

.blog-link {
  color: blue;
}
.blog-link:hover {
  font-weight: bold;
}

.blog-more {
  margin: 50px;
}

.blog-section {
  margin-bottom: 0px;
}

/** footers **/

.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  padding-bottom: 3px;
}

.footer .link {
  color: white;
}

.footer .footer-header {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}

.footer ul {
  padding-inline-start: 0px;
  font-size: 30px;
}

/** projects **/
.showcase-list {
  /* padding: 2rem; */
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  margin: 3rem auto;
}
.showcase-list h1 {
  margin: 0.5rem;
}

.showcase-list p {
  padding-bottom: 1rem;
}

/** blogs **/

.showcase-blog {
  padding-bottom: 6rem;
}

@media (max-width: 900px) {
  body {
    max-width: 95%;
    width: 100%;
  }

  .list-item-inline {
    display: inline;
    padding: 0rem;
  }

  .container-center {
    width: auto;
  }

  .link-primary {
    display: block;
  }
}
